.z-center{
  position: absolute;
  top: 50%;
  transform:translate(0,-50%)!important;
}
.h-center{
  position: absolute;
  left: 50%;
  transform:translate(-50%,0)!important;
}
.zh-center{
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%)!important;
}
.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.iconfont{
  font-size: 100%;
}


#__vconsole{
  font-size: 26px!important;
}
