.z-center{
  position: absolute;
  top: 50%;
  transform:translate(0,-50%);
}
.h-center{
  position: absolute;
  left: 50%;
  transform:translate(-50%,0);
}
.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.iconfont{
  font-size: 100%;
}
